:root {
    --background: url(../assets/Red-Brick-2-Wall-Mural_4619817c-ccf9-4e6d-978c-e7123fd04ded_1080x.jpg);
    --header-background: #d0cfcf;
    --primary-font: 'Shadows Into Light', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.12), 5px 5px 7px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    margin: 30px;
}
